<div class="modal-header">Email me!</div>
    <!-- <form ng-submit="submitForm()" name="emailForm" > -->
      <div class="modal-body">
        <input type="text" name="name" placeholder="name" ng-model="info.name" required ng-minlength="2"/>
        <p ng-show="emailForm.name.$invalid && !emailForm.name.$pristine">Your name is required.</p>
        <input type="email" name="email" placeholder="email" ng-model="info.email" required />
        <p ng-show="emailForm.email.$invalid && !emailForm.email.$pristine">A valid email is required.</p>
        <textarea type"text" name="message"id="message" placeholder="Type your message here." ng-model="info.text" required ng-minlength="2" required></textarea> 
        <p ng-show="emailForm.message.$invalid && !emailForm.message.$pristine">A message is required.</p>
      </div>
      <div class="modal-footer">
        <button class="btn" ng-click="cancel()">Cancel</button>
        <button class="btn" ng-disabled="emailForm.$invalid && emailForm.$dirty &&!emailForm.$pristine" type="submit" ng-click="ok()">send</button>
      </div> 
   <!--  </form> -->
  </div>
</div>