body {
  background-color: #dfdfc2;
  height: 100%;
  font-family: "Trebuchet MS", Verdana, sans-serif;
}

#left {
  position:fixed;
  padding: 10px;
  top: 0;
  left: 0;
  height:100%;
  width:200px;
  background: #fff;
}

.border {
  background: margin: 25px 0;
  height: 1px;
  border: 0;
  background: black;
  background: -webkit-gradient(linear, 0 0, 100% 0, from(#dfdfc2), to(#dfdfc2), color-stop(50%, #6f6f61));
}

#avatar {
  height: 115px;
  width: 115px;
  margin-left: 20%;
  margin-top: 20%;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
}

#left p {
 text-align: center;
 font-size: 15px;
 color: #6f6f61;
}

#right {
  float: right;
  margin-left: 5%;
  margin-right: 5%;
  width: 600px;
  padding: 10px;
  color: #6f6f61;
}
#right h3 {
  text-align: center;
}

.post {
  padding: 10px;
  margin-bottom: 30px;
}
/*
.info li:hoover {
  background-color: 
}
*/


