a {
  /*color: #C2185B;*/
  color: #d45d8c;
}

/************
* Portfolio *
************/

/*Portfolio img*/
#header-container {
  position: relative;
  background: url("../images/laptop.jpg") no-repeat center top fixed;
  height: 85vh;
  top: 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*Portfolio title*/
div.title-container {
  position: absolute;
  height: 100px;
  width: 300px;
  background: rgba(0,0,0,0.7);
  font-size: 20px;
  color: #fbf1e3;
  right: 0;
  bottom: 0;
  margin: 30px;
}

div.title {
  text-align: center;
  border: solid 1px #fff;
  height: 75px;
  width: 90%;
  margin: auto;  
  position: absolute;
  left:0;
  right: 0;
  top: 0;
  bottom: 0;
  font-family: 'Amatic SC', cursive, Georgia;
  font-size: 64px;
}

/*portfolio nav bar*/
nav.main-nav {
  position: fixed;
  width: 100%;
  height: 40px;
  color: #fbf1e3;
  background: rgba(0,0,0,1.0);
  z-index: 1;
}

.social-icons a {
  padding: 5px;
}

.social-icons {
  padding: 5px;
  margin-left: 2%;
}

/*Portfolio body*/
.portfolio-container {
  font-family: 'Karla', sans-serif;
}

.body-header {
  font-size: 30px;
  font-weight: 200;
  width: 60%;
/*  color: #d45d8c; */
  border-top: solid #fff .5px;
  border-bottom: solid #B6B6B6 5px;
  margin: 2% 0 3% 4%;
}

.body-header li {
  padding-right: 8%;
  width: 100%;
  display: inline;
}

.dark a {
  color: #C2185B;
  font-size: 34px;
  text-decoration: none;
  font-weight: 700;
}

div.body-body {
  width: 80%;
  margin: 0 auto;
}

div.img-left {
  float: left;
  margin-left: 8%;
  margin-top: 2%;
}

div.description-right {
  color: #607D8B;
  float: right;
  width: 50%;
  margin-right: 20%;
  font-size: 15px;
}

div.description-bottom {
  clear: both;
  font-size: 15px;
  color: #607D8B;
  width: 70%;
  margin-left: 8%;
  margin-bottom: 10%;
}

.projects li {
  display: inline-block;
  margin: 3%;
  font-family: 'Karla', sans-serif;
  /*color: #2A6496;*/
  color: #607D8B;
  font-size: 16px;
  font-weight: 600;
  /*font-style: italic;*/
  /*display: inline;*/
  /*border: solid;*/
/*  width: 10%;*/
  /*height: 25%;*/
}

.projects img {
  margin-bottom: 5%;
}
.projects div {
  text-align: center;
  /*border: solid;*/
}

.nav {
  width: 100%;
  height: 100%;
  font-family: "Trebuchet MS", Verdana, sans-serif;
}

#left {
  position: fixed;
  float: left;
  padding: 2%;
  top: 0;
  left: 0;
  height:100%;
  width: 25%;
  background: #fff;
  border-right-style: inset;
  margin-right: 10%;
}

.avatar-box {
  margin: 15% 15% 20% 20%;
  height: auto;
  width: auto;
  /*height: 20%;
  width: 55%;*/
  border: 1px solid #DDD;
  text-align: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

#avatar {
  padding: 4%;
  /*height: auto;
  width: auto;*/
  max-width: 100%;
  max-height: 100%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

#left p,  .contact a {
  text-align: center;
  font-size: 110%;
  color: #6f6f61;
}

p.name {
  padding-top: 20px;
}

.icons {
  padding: 5%;
  text-align: center;
}

.border {
  margin: 20px 0;
  height: 1px;
  border: 0;
  background: black;
  background: -webkit-gradient(linear, 0 0, 100% 0, from(#dfdfc2), to(#dfdfc2), color-stop(50%, #6f6f61));
}

.icons a{
  padding: 5%;
}

.contact:hover {
  background-color: #d4d4cd;
}

.contact {
  padding: 3%;
  font-size: 100%;
}

input {
  height: 25px;
  width: 80%;
  margin-bottom: 9px;
  margin-left: 10px;
  padding-left: 10px;
}

textarea {
  width: 80%;
  padding: 10px;
  height: 100px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.right {
  float: right;
  background-color: #dfdfc2;
  width: 75%;
  height: 100%;
}

.posts {
  /*float: right;*/
  margin-left: 10%;
  margin-right: 10%;
  /*width: 65%;*/
  /*height: auto;*/
  padding: 10px;
  color: #6f6f61;
}

#right h3 {
  text-align: center;
}

.post {
  padding: 10px;
  margin-bottom: 30px;
  font-size: 14px;
}

.icons {
  /*position: fixed;*/
  overflow: auto;
  /*padding: 10px;*/
}
