<div class="date">
  <h3 class="time">October 24, 2015</h3>
</div>
<div class="post">
  <h4>Cloud Computing</h4>
  <br>
  <p>A week ago I was asked if any specific technology new/recent catches my attention. With little thought, I blurted out "cloud computing", then quickly found my lack of knowledge to be the reason this technology piqued my interest.</p>
  <br>
  <p>About a year ago I started to notice the concept of clouds and it's many uses. Dreamforce (2014) planted a root of knowledge that has never been watered. Until I discover the inner working that make up this magnificent concept (blog post coming soon), here are two simple concepts I've experienced so far:</p>
  <ul>
    <li>
      <strong>Cloud Storage Services:</strong>
      <br>
      <em>In my previous job I was expected to facilitate a large amount of records regarding quarterly orders from clients. With ignorance of IT back in the day, how else would I be able to store and retrieve secure information from multiple locations all over the world than with a cloud platform. <br> Large corporations are trusting services from cloud computing companies to hold their data and ensure simple and secure access from multiple locations. Example of Companies that offer these services: Apple iCloud, Amazon Cloud Drive, DropBox, Google Drive.</em>
    </li>
    <li>
      <strong>Deployment Services:</strong>
      <br>
      <em> I assume most of you reading this are aware of this concept. Companies are finding a demand for web deployment services. These are cloud platforms that manage your website and even data storage required for functionality. Some examples of cloud deployment services are: Heroku, AWS, Microsoft Azure.</em>
    </li>
  </ul>
  <p>While the concept of cloud computing has been around since the 1970s, it wasn't until the new millennium that this concept started to pioneer, resulting in a large demand from companies small and large. It may not be a completly new technology, but has how shown recent growth and success, and has been widely accepted into business culture.</p>
  <p></p>
</div>
<hr class="border" />